<nav class='nav flex-column justify-content-center'>
  {{! Nav Brand }}
  <a class='navbar-brand' href='#'>
    <img
      src='/images/dollo.png'
      alt='Dollo'
      class='d-inline-block align-text-top img-fluid'
    />
  </a>

  {{! Links }}
  <ul class='nav flex-column nav-list'>
    <li class='nav-item'>
      <a class='nav-link {{#ifCon route 'index'}} active {{/ifCon}}' aria-current='page' href='/'>Home</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link {{#ifCon route 'event'}} active {{/ifCon}}' href='#'>Event</a>
    </li>

    {{! Fire Camp }}
    <li class='nav-item'>
      <a class='nav-link {{#ifCon route 'fire'}} active {{/ifCon}}'>Fire Camp</a>
    </li>

    {{! Announce List }}
    {{#ifCon role 'manager'}}
      <li class='nav-item'>
        <a href="#" class='nav-link {{#ifCon route 'announce-list'}} active {{/ifCon}}'>Announces</a>
      </li>
    {{/ifCon}}

</nav>