<nav class='nav flex-column justify-content-center'>
  {{! Nav Brand }}
  <a class='navbar-brand' href='#'>
    <img
      src='/images/dollo.png'
      alt='Dollo'
      class='d-inline-block align-text-top img-fluid'
    />
  </a>

  {{! Links }}
  <ul class='nav flex-column nav-list'>
    <li class='nav-item'>
      <a class='nav-link active' aria-current='page' href='#'>Home</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' href='#'>Event</a>
    </li>
    <li class='nav-item'>
      <a class='nav-link' href='#'>Task</a>
    </li>

    {{! Fire Camp }}
    <li class='nav-item'>
      <a class='nav-link'>Fire Camp</a>
    </li>

    {{! Google Map }}
    <li class='nav-item'>
      <a class='nav-link' href='#'>Team Map</a>
    </li>

    {{! Direct Message }}
    <li class='nav-item'>
      <h6 class='nav-link side-section'>Message</h6>
    </li>
    <li class='nav-item'>
      <a class='nav-link' href='#'>Richard</a>
    </li>
  </ul>

</nav>