<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Dollo</title>
    <link
      rel='icon'
      href='/images/dollo_logo.ico'
      sizes='16x16'
      type='image/x-icon'
    />
    {{! Bootstrap 5 }}
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC'
      crossorigin='anonymous'
    />
    <link rel="stylesheet" href="/styles/style.css">
    <script src="https://kit.fontawesome.com/accdc8cd19.js" crossorigin="anonymous"></script>
    {{!-- Custom style --}}
    {{#if style}}
    <link rel="stylesheet" href="/styles/{{style}}.css">
    {{/if}}
  </head>
  <body>

    {{> personal}}
    <div class='container-fluid'>
      <div class='row flex-nowrap'>
        <div class='col-1 py-3 sidebar shadow'>
          {{> sidebar}}
        </div>
        <div class='col-11 py-3'>
          {{{body}}}
        </div>
      </div>
    </div>

    {{! Bootstrap 5 }}
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM'
      crossorigin='anonymous'
    ></script>

    {{!-- Custom script --}}
    {{#if script}}
    <script src="/scripts/{{script}}-bundle.js"></script>
    {{/if}}
  </body>
</html>