<div class='container-fluid main'>
  <h1>Archived Announcements</h1>
</div>
<a class='btn btn-outline-dark ms-3' href='/announcements/'>
  Active
</a>
<a class='btn btn-outline-primary ms-3' href='/announcements/new'>
  Add New
  <i class='fa-solid fa-plus card-icon'></i>
</a>
<div class='d-flex flex-wrap gap-4 mx-3 my-2' id='cards'>
  {{! Render announcements here }}
</div>