<div class='container-fluid main'>
  <h1>Announcements</h1>
</div>
<a class='btn btn-outline-dark ms-3' href='/announcements/archived'>
  Archived
</a>
<a class='btn btn-outline-primary ms-3' href='/announcements/new'>
  Add New
  <i class='fa-solid fa-plus card-icon'></i>
</a>
<div class='d-flex gap-4 mx-3 my-2' id='cards'>
  {{! Render announcements here }}
  <div class='card unapproved' style='width: 18rem;'>
    <div class='card-body'>
      <h5 class='card-title'>Card title</h5>
      <small>End On: 2022-05-22</small>
      <h6 class='card-subtitle mb-2 text-muted'>Card subtitleCard subtitleCard
        subtitleCard subtitleCard subtitleCard subtitleCard subtitleCard
        subtitle</h6>
      <div class='text-end mx-3'>
        <a class='btn'><i class='fa-solid fa-check card-icon'></i></a>
        <a class='btn'><i class='fa-solid fa-pen-to-square card-icon'></i></a>
        <a class='btn'><i class='fa-solid fa-eraser eraser card-icon'></i></a>
      </div>
    </div>
  </div>

  <div class='card' style='width: 18rem;'>
    <div class='card-body'>
      <h5 class='card-title'>Card title</h5>
      <h6 class='card-subtitle mb-2 text-muted'>Card subtitle</h6>
      <p class='card-text'>Some quick example text to build on the card title
        and make up the bulk of the card's content.</p>
      <a href='#' class='card-link'>Card link</a>
      <a href='#' class='card-link'>Another link</a>
    </div>
  </div>
</div>