<div class='container-fluid main'>
  <h1>Good Evening, <span id='name'>Richard</span>.</h1>
  <div class='row justify-content-evenly mt-4 mb-4'>
    <div class='col-6'>
      {{!-- Announcement --}}
      <div class='card'>
        <div class='card-body'>
          <p class='card-title'><i class="fa-solid fa-bullhorn card-icon"></i> Announcement<p>
          <hr />
          {{!-- Announce Content --}}
          <div id="announces" class="card-list">
            <div class="announce-list">
              <h6 class='card-subtitle text-muted'>Congrats!! 主管發的</h6>
              <p class='card-text'>給誰？ALL或被慶祝的人？放頭貼在標題右邊 ...</p>
              <hr/>
            </div>
            <div class="announce-list">
              <h6 class='card-subtitle text-muted'>WOW!!</h6>
              <p class='card-text'>Buddy CI works!</p>
              <hr/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-3'>
      {{!-- To-do --}}
      <div class='card'>
        <div class='card-body'>
            <p class='card-title'><i class="fa-brands fa-creative-commons-nd card-icon"></i> To-dos<p>
            <a class="btn add-task" data-bs-toggle="modal" data-bs-target="#taskModal">
              <i class="fa-solid fa-plus card-icon"></i>
            </a>

            <!-- Modal -->
            <div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Task</h5>
                  </div>
                  <div class="modal-body">
                    
                    <div class="mb-3">
                      <input type="text" class="form-control" id="task-name" placeholder="Next To-Do">
                    </div>
                    <div class="d-flex justify-content-md-end">
                      <button id="addBtn" data-bs-dismiss="modal" class="btn btn-danger align-self-end">Add Task</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>

          <div id="todos" class="card-list">
            {{!-- Render to-do list --}}
          </div>
        </div>
      </div>
    </div>
    <div class='col-3'>
      {{!-- Done --}}
      <div class='card'>
        <div class='card-body'>
          <p class='card-title'><i class="fa-solid fa-circle-check card-icon"></i> Done<p>
          
          <div id="done-tasks" class="card-list">
          {{!-- Render done list --}}
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row justify-content-evenly'>
    <div class='col-6'>
      {{!-- Event --}}
      <div class='card'>
        <div class='card-body'>
          <p class='card-title'><i class="fa-solid fa-people-robbery card-icon"></i> Incoming Events<p>
          <hr />
          {{!-- Event Content --}}
          <div id="events" class="card-list">
            <div class="announce-list">
              <h6 class='card-subtitle mb-2 text-muted'>Dodo as a service</h6>
              <div class="d-flex justify-content-between">
                <small>
                  <span>RW</span>
                </small>
                <small class="datetime">2022/4/1 13:30</small>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-6'>
      {{!-- Fire Camp --}}
      <div class='card'>
        <div class='card-body'>
          <p class='card-title'><i class="fa-solid fa-fire card-icon"></i> Happening Fire Camp<p>
          <hr />
          <div id="fire-camps"" class="card-list">
            {{!-- Fire Camp Content--}}
            <div class="firecamp-list mb-2">
              <h6 class='card-subtitle'>Card subtitle</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>