<div class='card mx-auto'>
  <form class='row g-3 card-body'>
    <h2 class='text-center'>Login</h2>
    <div class='col-12'>
      <label for='inputEmail' class='form-label'>Email</label>
      <input type='email' class='form-control' id='inputEmail' />
    </div>

    <div class='col-12'>
      <label for='inputPassword' class='form-label'>Password</label>
      <input type='text' class='form-control' id='inputPassword' />
    </div>

    <div class='d-grid gap-2'>
      <button class='btn btn-primary' type='button'>Sign In</button>
      <small class='text-center'>Or Sign in with</small>
      <button class='btn btn-primary' type='button'>Facebook</button>
      <button class='btn btn-primary' type='button'>Google</button>
    </div>
  </form>
</div>