<div class='card mx-auto'>
  <form class='row g-3 card-body'>
    <h2 class='text-center'>Sign in to Dollo</h2>
    <div class='col-12'>
      <label for='inputEmail' class='form-label'>Email</label>
      <input type='email' class='form-control' id='inputEmail' autofocus />
    </div>

    <div class='col-12'>
      <label for='inputPassword' class='form-label'>Password</label>
      <input type='text' class='form-control' id='inputPassword' />
    </div>

    <div class='d-grid gap-2'>
      <a class='btn btn-outline-dark' type='button'>Sign In</a>
      <small class='text-center'>Or Sign in with</small>
      <a class='btn btn-outline-dark' type='button'><i
          class='fa-brands fa-facebook-f'
        ></i>
        Facebook</a>
      <a class='btn btn-outline-dark' type='button'><i
          class='fa-brands fa-google'
        ></i>
        Google</a>
    </div>
  </form>
</div>