<div class='card mx-auto'>
  <form class='row g-3 card-body'>
    <h2 class='text-center'>Create Dollo Account</h2>

    <div class='col-12'>
      <label for='username' class='form-label'>Username</label>
      <input type='text' class='form-control' id='username' autofocus />
    </div>

    <div class='col-12'>
      <label for='email' class='form-label'>Email</label>
      <input type='email' class='form-control' id='email' />
    </div>

    <div class='col-12'>
      <label for='password' class='form-label'>Password</label>
      <input type='password' class='form-control' id='password' />
    </div>

    <div class='col-12'>
      <label for='confirmPassword' class='form-label'>Confirm Password</label>
      <input type='password' class='form-control' id='confirmPassword' />
    </div>

    <div class='d-grid gap-2'>
      <button class='btn btn-outline-dark' type='submit'>Sign Up</button>
    </div>

    <p class='text-center'>Already have an account?
      <a href='/signin' class='btn-link'>Sign In</a></p>
  </form>
</div>