/* 
Color Scheme
Red: #FF6B6B
Yellow: #FFD93D
Green: #6BCB77
Blue: #4D96FF
*/

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #ffd6a5;

  /* Background image */
  background-image: url('https://images.unsplash.com/photo-1629184920985-3eb1d6f8dc40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

a {
  color: inherit;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:checked {
  color: inherit;
  background-color: inherit;
  box-shadow: none;
  outline: none;
}

i {
  font-size: 24px;
}

.navbar-brand {
  padding-top: 0;
  margin: 0;
}

.sidebar {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #3d5a80;
}

h6 {
  margin: 0;
}

.nav-link {
  color: #fff;
}

.side-section {
  color: #000;
}

.active {
  background-color: #4d96ff;
  color: #fff;
}

.personal {
  align-items: center;
}

.personal-btn {
  background-color: transparent;
  color: #000;
  border: none;
}

.personal-btn::after {
  content: none;
}

.signout {
  color: #ff6b6b;
}

/* Main page */
.main {
  text-align: center;
  margin: 8vh 0;
}

h1 {
  font-size: 60px;
  color: #fff;
}

.card-body {
  height: 30vh;
}

.card-title {
  text-align: start;
  font-weight: 500;
}

.card-subtitle {
  margin: 0;
}

.card-list {
  height: 80%;
  overflow-y: scroll;
}

.announce-list {
  text-align: start;
}

.card-icon {
  font-size: 16px;
}

.todo-list {
  text-align: start;
}

.btn-op {
  padding: 0;
}

.firecamp-list {
  padding: 5px 15px;
  text-align: start;
  background-color: #f9c74f;
  border-radius: 25px;
}
